html,
body {
    height: 100%;
    font-family: "FuturaBookC";
    background-color: #F2F2F4;
}

html {
    scroll-behavior: smooth;
}


@import url(../fonts/stylesheet.css);

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 5px;
}

.container__fluid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;

}

/* Nav Icon */
.mobile-nav-btn {
    --time: 0.1s;

    --width: 40px;
    --height: 30px;

    --line-height: 4px;
    --spacing: 6px;

    --color: #ffffff;
    --radius: 4px;

    /* Fixed height and width */
    /* height: var(--height); */
    /* width: var(--width); */

    /* Dynamic height and width */
    height: calc(var(--line-height) * 3 + var(--spacing) * 2);
    width: var(--width);

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    order: 8;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;

    width: var(--width);
    height: var(--line-height);

    border-radius: var(--radius);
    background-color: var(--color);
    transition: transform var(--time) ease-in,
        top var(--time) linear var(--time);
}

.nav-icon::before {
    /* top: calc(var(--line-height) * -2); */
    top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
    /* top: calc(var(--line-height) * 2); */
    top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear,
        transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
    transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
    transform: rotate(-45deg);
}

.top__inner {
    padding-top: 199px;
    padding-bottom: 118px;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
}

.header__logo-img {
    width: 155px;
    height: 28px;
}

.header__menu-list {
    display: flex;
}

.header__menu-item {
    margin-left: 19px;
    margin-right: 19px;

}

.header__menu-link {
    font-family: "FuturalightC";
    font-style: normal;
    color: #ffff;
    font-size: 18px;
    line-height: 128%;
}

.header__phone-link {
    font-family: "FuturaLightC";
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    padding-left: 43px;
    position: relative;
}

.header__phone-link::before {
    content: url(../images/icons/phone_icons.svg);
    width: 33px;
    height: 33px;
    top: -7px;
    left: 0;
    position: absolute;
}

.mobile-nav {
    position: fixed;
    top: 0;
    top: -130%;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #03138b;
    ;
    transition: all 0.2s ease-in;
}

.mobile-nav--open {
    top: 0;
}

.mobile-nav a {
    color: #fff;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 28px;
}

.mobile-nav__list.active {
    opacity: 0.5;
}

.mobile-nav-btn {
    display: none;
}

.top__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.top__info {
    max-width: 640px;
    width: 100%;
}

.top__title {
    font-family: "FuturaDemiC";
    font-weight: 700;
    color: #ffff;
    font-size: clamp(2.4rem, -4.0781rem + 16.25vw, 5.0625rem);
    text-transform: lowercase;
    line-height: clamp(3rem, -2.4375rem + 12vw, 4.3125rem);
}

.top__title-inc {
    font-family: "FuturaDemiC";
    font-weight: 700;
    color: #ffff;
    font-size: clamp(2rem, -2.7344rem + 12.75vw, 4.4375rem);
    text-transform: lowercase;
    line-height: clamp(3rem, -2.4375rem + 12vw, 4.3125rem);
}

.top__subtitle {
    font-family: "FuturaDemiC";
    font-weight: 600;
    color: #969AF7;
    font-size: clamp(1.45rem, -1.6094rem + 8.75vw, 3.3125rem);
    text-transform: lowercase;
    line-height: clamp(1.85rem, -2.4375rem + 12vw, 4.3125rem);
}

.top__text {
    font-family: "FuturaBookC";
    font-size: 19px;
    color: #969AF7;
    margin-bottom: 37px;
}

.top__block-liberties {
    background-image: url(../images/top_list-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0 25px 59px;
}

.top__item-liberties {
    font-family: "FuturaBookC";
    font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
}

.top__item-liberties::before {
    content: url(../images/icons/check.png);
    position: absolute;
    top: -2px;
    left: -26px;
}

.top__title-list {
    color: #F2F2F4;
    font-family: "FuturaBookC";
    font-size: 23px;
    font-weight: bold;
}

.top__title-list>.first__item {
    margin-left: 49px;
}

.top__title-list>.last__item {

    text-align: end;
}

.top__form-title {
    background: rgb(106, 50, 180);
    background: linear-gradient(357deg, rgba(106, 50, 180, 1) 0%, rgba(85, 38, 147, 1) 100%);
    padding: 32px 10px 10px 150px;
    border-radius: 10px 10px 0 0;
}

.top__form-block {
    border-radius: 0 0 10px 10px;
    padding: 32px 40px 32px 40px;
    background-color: #ffff;
}

.top__input {
    max-width: 300px;
    width: 100%;
    padding: 21px 5px 21px 20px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 1px 1px 7px 0px rgba(34, 60, 80, 0.2) inset;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.top__input-label {
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #626366;
    margin-bottom: 14px;
}

.top__input-button {
    padding: 19px 68px 19px 100px;
    background-color: #FFA500;
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 35px;
}

.politic {
    font-family: "FuturaBookC";
    font-size: 14px;
    color: #C0C0C0;
    margin-top: 17px;
    padding-left: 28px;
    position: relative;
}

.politic::before {
    content: url(../images/icons/lock.png);
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    position: absolute;

}





.benifit__title {
    margin-top: 86px;
    text-align: center;
    font-family: "FuturaDemiC";
    font-weight: 600;
    color: #111111;
    font-size: 45px;
    margin-bottom: 25px;
}

.benifit__text {
    font-family: "FuturaBookC";
    font-size: 22px;
    color: #111111;
    margin: 0 auto;
    max-width: 1051px;
    width: 100%;
    text-align: center;
}

.benifit__wrapper {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 35px;
    margin-bottom: 130px;
}

.benifit__card {
    max-width: 369px;
    width: 100%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px 62px;
    background-image: url(../images/benifit__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    margin-bottom: 32px;
}

.benifit__card-img {
    width: 157px;
    height: 163px;
    margin-bottom: 39px;
}

.benifit__card-title {
    color: #2A336C;
    font-family: "FuturaDemiC";
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
}

.benifit__card-text {
    font-family: "FuturaBookC";
    font-size: 20px;
    color: #555555;
    text-align: center;
}

.manufactories__wrapper {
    background-image: url(../images/manufactories-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-left: 5px;
    padding-right: 5px;
}

.manufactories__title {
    padding-top: 154px;
    font-family: "FuturaDemiC";
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 57px;
}

.manufactories__text {
    font-family: "FuturaBookC";
    font-size: 20px;
    color: #ffffff;
}

.slick__container {
    margin: 0 40px;
}

.slick__item {
    width: 242px;
    height: 174px;
    background-color: #ffffff;
    margin: 5px;
    position: relative;

}

.slick__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-item {
    margin-bottom: 45px;
}

.work__wrapper {
    background-image: url(../images/work__bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 51px;

}

.work__title {

    font-family: "FuturaDemiC";
    font-size: 45px;
    font-weight: bold;
    color: #111111;
    text-align: center;
    margin-bottom: 24px;
}

.work__text {
    margin: 0 auto;
    max-width: 1000px;
    font-family: "FuturaBookC";
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
}

.work__scheme {

    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: -10;
}

.work__scheme-one {
    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background: #000181;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: -8;
}

.work__scheme-two {
    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: -6;
}

.work__scheme-three {
    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: -4;
}

.work__scheme-foure {
    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: -4;
}

.work__scheme-five {
    position: relative;
    border: 8px solid rgb(242 242 244);
    border-radius: 20px;
    background-image: url(../images/card-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 412px;
    height: 251px;
    order: 0;
}



.work__scheme-one:after {
    content: "";
    width: 62px;
    height: 62px;
    position: absolute;
    border: 16px solid transparent;
    border-bottom-color: rgb(242 242 244);
    border-right-color: rgb(242 242 244);
    border-radius: 14%;
    left: calc(50% - -167px);
    transform: rotate(-45deg);
    top: 86px;
    z-index: 10;
    background-color: #3d52e9;
}

.work__scheme-two:after {
    content: "";
    width: 62px;
    height: 62px;
    position: absolute;
    border: 16px solid transparent;
    border-bottom-color: rgb(242 242 244);
    border-right-color: rgb(242 242 244);
    border-radius: 14%;
    left: calc(50% - 23px);
    transform: rotate(45deg);
    top: 203px;
    z-index: 10;
    background-color: #1e17b7fc;

}

.work__scheme:after {
    content: "";
    width: 62px;
    height: 62px;
    position: absolute;
    border: 16px solid transparent;
    border-bottom-color: rgb(242 242 244);
    border-right-color: rgb(242 242 244);
    border-radius: 14%;
    left: calc(50% - -167px);
    transform: rotate(-45deg);
    top: 86px;
    z-index: 10;
    background-color: #3d52e9;


}

.work__scheme-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    counter-reset: my-counter;
    margin-bottom: 48px;
}

.work__counter {
    counter-increment: my-counter;
}

.work__inner-button {
    display: flex;
    justify-content: center;
}

.work__order {
    padding: 19px 68px 19px 100px;
    background-color: #FFA500;
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 150px;
}

.work__scheme-foure:after {
    content: "";
    width: 62px;
    height: 62px;
    position: absolute;
    border: 16px solid transparent;
    border-bottom-color: rgb(242 242 244);
    border-right-color: rgb(242 242 244);
    border-radius: 14%;
    right: calc(50% - -167px);
    transform: rotate(-225deg);
    top: 86px;
    z-index: 10;
    background-color: #130da5;
}

.counter__decriment {
    counter-increment: my-counter 6;
    counter-set: my-counter 4;
}

.counter__decriment-foure {
    counter-increment: my-counter 4;
    counter-set: my-counter 6;
}

.counter__decriment-five {
    counter-increment: my-counter 5;
    counter-set: my-counter 5;
}

.work__card-wrapper {
    position: relative;
    z-index: 15;
    margin-left: 81px;
}

.work__card-title {
    margin-top: 48px;
    margin-bottom: 28px;
    font-family: "FuturaBookC";
    color: #ffffff;
    font-weight: 700;
    position: relative;
    font-size: 25px;
    text-transform: lowercase;
    margin-right: 5px;
}

.work__card-title::before {
    content: '0' counter(my-counter);
    counter-set: 4;
    position: absolute;
    top: -3px;
    left: -49px;
    color: #969AF7;
    font-family: "FuturaBookC";
    font-size: 36px;
}

.work__card-title::before {
    content: '0' counter(my-counter);
    position: absolute;
    top: -4px;
    left: -49px;
    color: #969AF7;
    font-family: "FuturaBookC";
    font-size: 36px;
}

.work__card-text {
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #ffffff;
    max-width: 310px;


}

.questions__wrapper {
    background-image: url(../images/questions_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 5px 95px;

}



.questions__text {
    display: none;

}

.questions__title {
    font-family: "FuturaBookC";
    font-size: 45px;
    color: #ffffff;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 53px;

}

.questions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px 24px 30px 53px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 46%, rgba(189, 192, 255, 1) 162%);
    margin-bottom: 13px;
    border-radius: 10px;
    position: relative;
    z-index: 9;

}

.questions__header.active {
    background: linear-gradient(181deg, rgba(150, 154, 247, 1) 55%, rgba(104, 110, 236, 1) 135%);

}

.questions__title-tub.active {
    color: #ffffff;
}

.questions__button-tub.active {
    background-color: #ffffff;
}

.questions__button-tub.active::after {
    content: url(../images/icons/icon_tub-active.svg);
    transform: rotate(180deg);
}

.questions__text.active {
    display: block;

}

.questions__title-tub {
    font-family: "FuturaDemiC";
    font-size: 24px;
    color: #333333;
}

.questions__button-tub {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #757AEF;
    position: relative;
    transition: background 0.9s ease, color 0.2s linear;
}

.questions__button-tub::after {
    content: url(../images/icons/icon_tub.svg);
    position: absolute;
    top: 12px;
    left: 13px;

}

.questions__text {
    padding: 55px 43px 45px;
    background-color: #ffffff;
    color: #333333;
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: -21px;
    z-index: 0;

}

.footer__wrapper {
    background-color: #333333;
    height: 177px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
}

.footer__menu-items {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.footer__menu-item {
    margin-left: 18px;
    margin-bottom: 18px;
}

.footer__menu-link {
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #ffffff;
}

.footer__order {
    padding: 19px 68px 19px 100px;
    background-color: #969AF7;
    font-family: "FuturaBookC";
    font-size: 18px;
    color: #ffffff;
    border-radius: 10px;

}

@media (max-width:1360px) {
    .questoins__wrapper-tub {
        display: flex;
        justify-content: center;
    }

    .questions__item-tub {
        max-width: 1050px;
        width: 100%;
    }
}

@media (max-width:1306px) {
    .header__menu-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .footer__order {
        padding: 19px 26px 19px 26px;
    }


}

@media (max-width:1080px) {
    .mobile-nav-btn {
        display: block;
    }

    .header__content {
        justify-content: space-around;
    }

    .header__menu-list {
        display: none;
    }

    .top__wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .footer__menu-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .footer__wrapper {
        height: auto;
    }

    .footer__inner {
        padding: 30px 0;
    }
}



@media (max-width:1235px) {
    .work__scheme-foure {
        order: -5;
    }

    .work__scheme-five {
        order: -6;
    }

    .work__scheme-two {
        order: -5;
    }

    .work__scheme-one:after {
        content: "";
        width: 62px;
        height: 62px;
        position: absolute;
        border: 16px solid transparent;
        border-bottom-color: rgb(242 242 244);
        border-right-color: rgb(242 242 244);
        border-radius: 14%;
        left: calc(50% - 23px);
        transform: rotate(45deg);
        top: 204px;
        z-index: 10;
        background-color: #1e17b7fc;
    }

    .work__scheme-two:after {

        left: calc(50% - 229px);
        transform: rotate(-225deg);
        top: 86px;
        z-index: 10;
        background-color: #130da5;
    }

    .work__scheme-five:after {
        content: "";
        width: 62px;
        height: 62px;
        position: absolute;
        border: 16px solid transparent;
        border-bottom-color: rgb(242 242 244);
        border-right-color: rgb(242 242 244);
        border-radius: 14%;
        left: calc(50% - 23px);
        transform: rotate(45deg);
        top: 203px;
        z-index: 10;
        background-color: #1e17b7fc;
    }

    .work__scheme-foure:after {
        content: "";
        width: 62px;
        height: 62px;
        position: absolute;
        border: 16px solid transparent;
        border-bottom-color: rgb(242 242 244);
        border-right-color: rgb(242 242 244);
        border-radius: 14%;
        left: calc(50% - -167px);
        transform: rotate(-45deg);
        top: 86px;
        z-index: 10;
        background-color: #384dee;
    }
}

@media (max-width:960px) {
    .footer__menu-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 10px;
    }


}

@media (max-width:823px) {
    .header__phone-link {
        display: none;
    }

    .top__inner {
        padding-top: 150px;
    }

    .mobile-nav__list {
        font-size: 20px;
    }

    .top__text {
        max-width: 400px;
        margin-top: 20px;
    }

    .benifit__wrapper {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .manufactories__title {
        font-size: 30px;
    }

    .work__wrapper {
        background-image: none;
    }

    .work__scheme-two {
        order: -6;
    }

    .work__scheme::after {
        left: calc(50% - 23px);
        transform: rotate(45deg);
        top: 203px;
        z-index: 10;
        background-color: #1e17b7fc;
    }

    .work__scheme-two:after {
        left: calc(50% - 23px);
        transform: rotate(45deg);
        top: 203px;
        z-index: 10;
        background-color: #1e17b7fc;
    }

    .work__scheme-foure:after {
        left: calc(50% - 23px);
        transform: rotate(45deg);
        top: 203px;
        z-index: 10;
        background-color: #1e17b7fc;
    }

    .work__title {
        font-size: 34px;
    }

    .work__text {
        font-size: 18px;
    }

    .questions__header {
        padding: 19px 24px 19px 53px;
    }

    .questions__title-tub {
        font-size: 16px;
    }

    .questions__button-tub {
        width: 30px;
        height: 30px;
    }

    .questions__button-tub::after {
        top: 5px;
        left: 8px;

    }

    .questions__title {
        font-size: 24px;
    }

    .questions__header {
        padding: 19px 9px 19px 9px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer__menu-item {
        margin-bottom: 5px;
    }

    .footer__menu-items {
        margin-bottom: 35px;
    }
}

@media (max-width:500px) {
    .top__form-block {
        padding: 10px;
    }

    .top__inner {
        padding-top: 129px;
    }

    .top__title-list {
        font-size: 12px;
    }

    .top__input-button {
        padding: 14px 38px 19px 100px;
    }

    .header__logo-img {
        width: 100px;
        height: 20px;
    }

    .mobile-nav-btn {
        --width: 30px;
        --spacing: 4px;
        --line-height: 3px;
    }

    .benifit__card {
        width: 300px;
    }

    .benifit__title {
        font-size: 30px;
    }

    .slick__container {
        margin: 0;
    }

    .work__card-title {
        margin-bottom: 5px;
        font-size: 21px;
    }

    .work__card-wrapper {
        margin-left: 59px;
    }

    .work__card-text {
        font-size: 15px;
        padding-right: 5px;
    }

    .work__title {
        font-size: 30px;

    }

    .work__order {
        padding: 14px 34px 14px 68px;
    }

    .benifit__text {
        font-size: 18px;
    }

}

@media (max-width:420px) {
    .questions__button-tub::after {
        top: 6px;
        left: 10px;


    }

    .questions__button-tub {
        margin-left: 10px;
        width: 43px;
        height: 30px;

    }

    .questions__title {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .questions__header {
        padding: 9px 9px 9px 9px;
    }

}

@media (max-width:400px) {
    .questions__button-tub::after {
        top: 6px;
        left: 7px;
    }

    .footer__order {
        padding: 11px 11px 11px 11px;
    }
}